.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    width: 200px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translateY(-50%);
    user-select: none;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}